<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/header.ejs') %>
        <main>
            <%for (let i = 0; i < feeds.length; i++) { %>
                <div class="feedPost">
                    <a class = "feedCard" href="/feed/<%=feeds[i].id%>">
                        <h3 class="userTitle"><span class="material-icons">account_circle</span><%=feeds[i].username%></h3>
                        <img class = "feedImg" src="<%=feeds[i].img%>">
                        <p class = "likeNum"><%=feeds[i].likes%> LIKES</p>
                        <div class="likeBox">
                            <form class = "likeBtn" action="/feed/<%=feeds[i].id%>/like?_method=PUT" method="POST">
                                <input class = "material-icons heart" type="submit" name="" value="favorite_border">
                            </form>
                            <form class = "likeBtn" action="/feed/<%=feeds[i].id%>" method="GET">
                                <input class = "material-icons heart" type="submit" name="" value="comment">
                            </form>
                        </div>
                        <p class="userCap"><%=feeds[i].caption%>
                    </a>
            <% } %>
        </main>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
