<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/header.ejs') %>
        <main>
            <div class="showPage">
                <div class="showUser">
                    <div class="userName">
                        <span class="material-icons">account_circle</span>
                        <h3><%=feed.username%></h3>
                    </div>
                    <div class="editDelete">
                        <a class = "button edit" href="/feed/<%=feed.id%>/edit">EDIT</a>
                        <form action="/feed/<%=feed.id%>?_method=DELETE" method="POST">
                            <input class = "button delete" type="submit" name="" value="DELETE">
                        </form>
                    </div>
                </div>
                <img class = "showImg" src="<%=feed.img%>">
                <p class = "showText"><%=feed.caption%></p>
            </div>
            <form class="commentForm" action="/feed/<%=feed.id%>/comment" method="POST">
                <label class = "label" for="showCap">Leave your comment here...</label>
                <input class = "authorBox" type="hidden" name="author" value="<%=currentUser.username%>">
                <textarea class = "commentBox" id = "showCap" name="text" placeholder = "Write your comments here"></textarea>
                <input class = "button commentBtn" type="submit" value="SUBMIT">
            </form>
            <div class="commentSection">
                <h1 class = commentSecTitle>Comment Section</h1>
                <% for (let i = 0; i < comment.length; i ++) { %>
                    <div class = "userComment">
                        <p class = "comment"><span class = "commentAuth"><u><%=comment[i].author%>:</u></span> <%=comment[i].text%></p>
                    </div>
                <% } %>
            </div>
        </main>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
