<!DOCTYPE html>
<html lang="en" dir="ltr">
    <%- include ('../partials/head.ejs') %>
    <body>
        <%- include ('../partials/header.ejs') %>
        <main>
            <h1 class = "showHeader">Viewing...</h1>
            <div class="showPage">
                <div class="showUser">
                    <div class="userName">
                        <span class="material-icons">account_circle</span>
                        <h3><%=feed.username%></h3>
                    </div>
                    <div class="editDelete">
                        <a class = "button edit" href="/feed/<%=feed.id%>/edit">EDIT</a>
                        <form action="/feed/<%=feed.id%>?_method=DELETE" method="POST">
                            <input class = "button delete" type="submit" name="" value="DELETE">
                        </form>
                    </div>
                </div>
                <img class = "showImg" src="<%=feed.img%>">
                <p class = "showText"><%=feed.caption%></p>
            </div>
            <form class="commentForm" action="/feed/<%=feed.id%>/comment?_method=PUT" method="POST">
                <label class = "label" for="showCap">Comments...</label>
                Username: <input class = "authorBox" type="text" name="author" value="<%=currentUser.username%>">
                <textarea class = "commentBox" id = "showCap" name="feedback"placeholder = "Write your comments here"></textarea>
                <input class = "button commentBtn" type="submit" value="SUBMIT">
            </form>
            <% for (let i = 0; i <feed.comments.length; i ++) { %>
                <div class = "userComment">
                    <h4><%=feed[i].comments.author%></h4>
                    <p><%=feed[i].comments.feedback%></p>
                </div>
            <% } %>
        </main>
        <%- include ('../partials/footer.ejs') %>
    </body>
</html>
